.row {
    display: flex;
}

/* THIS IS THE BEGINNNING OF PART 1 */
.col{
    background-color: #65a2ac;
    color: white;
    margin: 15px;
    padding: 10px;
    flex: 1;
}

/* THIS IS THE END OF PART1 */
/* THIS IS THE BEGINNING OF PART2 */

.col-2{
    background-color: #65a2ac;
    color: white;
    margin: 15px;
    padding: 10px;
    flex: 2;
}

/* THIS IS THE END OF PART2 */
/* THIS THE BEGINNING OF PART3 */

.col-3{
    background-color: #65a2ac;
    color: white;
    margin: 15px;
    padding: 10px;
    flex: 3;
}